<!DOCTYPE html>
<html>

<head>
{{>head}}
</head>

<body>

    {{>header}}
    <div class="content">
    <form>
        <input placeholder="address">
        <button>Sumit</button>
    </form>
    <p id='pOne'></p>
    <p id='pTwo'></p>

    <script src='js/appjs.js'></script>
    </div>
     {{>footer}}
</body>

</html>