<title>Weather</title>
<link rel="icon" href="images/weather.jpg"/>
<link rel="stylesheet" href="css/style.css"/>
<p>express server path is C:\Users\Wavicledata\Desktop\Node DB\Node js Course\Projects\express web server\public => hence css and images folders are referred from there</p>